h2{
    color: lightseagreen;
}
#legend{
    text-align: center;
}
.form{
    width: 60%;
    border: 2px solid saddlebrown;
    padding: 0px 30px 30px 30px;
    margin: auto;
    
}
.field{
    padding: 20px;
}