
body{
    background-image: url(../images/computer_keyboard_mouse_laptop_mac_apple_66734_1920x1080.jpg);
    background-repeat:no-repeat;
    display: compact;
    background-size: 1520px 800px;
    opacity: 0.9;
}